.main-bg { background:#1a1a1a; }

.titlebar {
    width:100%; height:36px; position:fixed; top:0; left:0; z-index:9999;
}

.btn-squre       { color:#ccc; -webkit-app-region: no-drag; font-size:16px;}
.btn-squre:hover { background:#333; }
.btn-squre[data-system-close]:hover { background:#e63d3d; color:#fff; }

.app { position: relative; z-index: 1;}
body[app=false] ui-system { display:none; }
body[os=none] [os]                          { display:none; }
body:not([os=Windows]) [os=Windows]         { display:none; }

body {
    -webkit-user-select:none; user-select:none;
}
::-webkit-scrollbar {
    width:0;
}
ui-scrollbar {
    width:16px; height:100%; opacity:0; z-index:9999;
    position:fixed; top:0; right:0; transition:opacity 0.3s;
}
ui-scrollbar:before {
    content:""; width:0; height:100%; position:absolute; top:0; right:0; background:rgba(128,128,128,0.75); transition:width 0.3s;
}
ui-scrollbar:hover {
    opacity:1;
}
ui-scrollbar:hover:before { width:100%; }
ui-scroll-thumb {
    width:0; height:50px; z-index:9999; position:absolute; top:0; right:0; background:red; transition:width 0.3s;
}
ui-scrollbar:hover ui-scroll-thumb {
    width:100%;
}

ui-modal {
    position:fixed; top:0; left:0; width:100%; height:100%; z-index:999; display:flex; justify-content:center; align-items:center; flex-direction:column;
}
ui-modal:before {
    content:""; position:fixed; top:0; left:0; width:100%; height:100%; z-index:998; background:rgba(0,0,0,0.4);
}
ui-modal .modal-window {
    position:relative; z-index:999; padding:16px; box-shadow:0 8px 16px rgba(0,0,0,0.2); border-radius:4px; -webkit-app-region: no-drag;
}

header {
    background:rgb(26, 26, 26, 0.7); -webkit-backdrop-filter:blur(10px); backdrop-filter:blur(10px); z-index:10;
}

.pallet-list {
    display:grid; grid-template-columns:repeat(3, 1fr); grid-template-rows:auto;
    gap:1px;
}
.pallet-item {
    position:relative;
}
.pallet-item:before {
    content:"";
    display:inline-block;
    padding-bottom:100%;
    vertical-align: top;
}
.pallet-color {
    position:absolute; top:0; bottom:0; left:0; right:0;
    z-index:1;
}
.pallet-info {
    position:absolute; bottom:0; left:0; right:0; z-index:2;
    background:rgba(0,0,0,0.7); padding:12px 0; text-align:center;
}
.pallet-control {
    position:absolute; top:0; bottom:0; left:0; right:0; width:100%; height:100%;
    z-index:3; display:none;
}
.pallet-control.show, .pallet-item:hover .pallet-control {
    display:block;
}

.pallet-control [class*=btn] {
    display:flex; justify-content:center; align-items:center; border-radius:100px; background:#fff; position:absolute;
    cursor:pointer; box-shadow:0 4px 8px rgba(0,0,0,0.1);
}
.pallet-control .btn-copy-color {
    top:50%; left:50%; transform:translate(-50%,-50%);
}
.pallet-control .btn-open {
    top:16px; right:16px;
}

.pallet-control .btn-add-color {
    top:50%; left:50%; transform:translate(-50%,-50%);
}